# .gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Test artifacts
.coverage
coverage/
htmlcov/
*,cover

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# macOS artifacts
.DS_Store
